.container {
    display: grid;
    grid-template-columns: 20% auto 20%;
    grid-template-rows: 30% auto auto 10%;
    grid-template-areas:
        "room    message  rooms"
        "members message  rooms"
        "manage  message  rooms"
        ".       input        .";
}

#display-current-room {
    grid-area: room;
    justify-self: center;
}

#display-room-members {
    grid-area: members;
    justify-self: center;
}

.member-list, .room-list {
    list-style: none;
}

.member-list li {
    display: inline-block;
    margin: 0 10px;
}

.room-list li {
    text-align: center;
    margin: 10px 0;
}

#display-message-section {
    grid-area: message;
    height: 500px;
    overflow: auto;
}

#manage-room {
    grid-area: manage;
    text-align: center;
}

#manage-room button {
    margin-top: 20px;
}

#input-area {
    grid-area: input;
    justify-self: center;
}

#room-section {
    grid-area: rooms;
    text-align: center;
}

#get-username {
    display: none;
}

@media (max-width: 1000px) {
    .container {
        grid-template-columns: auto;
        grid-template-rows: 50% auto auto auto auto auto;
        grid-template-areas:
            "message"
            "input"
            "room"
            "members"
            "manage"
            "rooms"
    }

    #display-message-section {
        height: 300px;
    }

    .room-list li{
        display: inline-block;
    }

    h2, h3 {
        font-size: 20px;
    }


}