*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.form-control {
    width: 150px;
    height: 10px;
    padding: 10px;
    border: none;
    border-bottom: 1px solid rgba(255, 200, 100);
    background: none;
    color: #fff;
    outline: none;
    cursor: pointer;
    transition: 1s;
}

.form-control:focus {
  width: 170px;
}

.hero {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(../images/background.jpg);
    background-size: cover;
    background-position: center;
}

.flash-error {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffcccb;
    width: 100%;
    height: 5%;
    color: #8b0000;
}

.flash-success {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #b1f3b1;
    width: 100%;
    height: 5%;
    color: #16390e;
}

.flashed-messages p {
    padding: 20px 30px;
}

.flashed-messages button {
    margin-left: auto;
    border: 0px;
}

.navigation-button {
    text-decoration: none;
    color: rgba(128, 128, 128);
}

.navbar {
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    animation: fadeIn 5s;
}

.logo {
    color: white;
    letter-spacing: 3px;
    cursor: pointer;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: rgba(255, 200, 100);
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover::after {
    width: 100%;
}

.content {
    animation: fadeIn 5s;
}

.index {
    position: relative;
    top: 60px;
}

.content h1 {
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 10px;
}

.content p {
    margin-bottom: 20px;
    font-weight: 100;
    line-height: 25px;
    text-align: center;
}

button {
    margin-right: 20px;
    color: rgba(128,128,128);
    padding: 10px 25px;
    background: transparent;
    border: 1px solid;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
    transition: 0.5s;
}

button:hover {
    color: rgba(255, 200, 100);
}

.bars i {
    position: absolute;
    right: 10%;
    top: 35px;
    display: none;
    color: #fff;
    font-size: 25px;
    cursor: pointer;
}

.close i {
    display: none;
    position: absolute;
    margin: 10px;
    color: #fff;
    font-size: 25px;
    cursor: pointer;
}

.form-group {
    margin: 20px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media (max-width: 650px) {
    .navbar ul li {
        display: block;
        top: 10%;
        width: 0;
        text-align: left;
        padding-bottom: 20px;
        font-size: 16px;
        transition: .2s;
    }

    .navbar ul li:hover {
        font-size: 18px;
    }

    .navbar ul{
        position: absolute;
        background: #A7754D;
        height: 100vh;
        width: 160px;
        top: 0;
        right: -200px;
        z-index: 1;
        transition: 1s;

    }

    .bars i {
        display: block;
    }

    .close i {
        display: block;
    }

    .content h1 {
        font-size: 25px;
    }

    .content p {
        font-size: 12px;
    }
}
