<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <head>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
        <script
          src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
          integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
          crossorigin="anonymous"
        ></script>

        <link rel="stylesheet" href="../static/css/style.css">
        <link rel="stylesheet" href="../static/css/all.min.css">
    </head>

    <title>{% block title%} Home {% endblock %}</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script>
        function delete_flash(flash){
            $(flash).parent().remove()
        }
    </script>

    <body>
        <div class="hero">
            <div class="flashed-messages">
                {% with messages = get_flashed_messages(with_categories=true) %} {% if
                messages %} {% for category, message in messages %} {% if category ==
                'error' %}
                <div class="flash-error" role="alert">
                    <p>{{ message }}</p>
                  <button type="button" class="close" onclick=delete_flash(this)>
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                {% else %}
                <div class="flash-success" role="alert">
                    <p>{{ message }}</p>
                  <button type="button" class="close" onclick=delete_flash(this)>
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                {% endif %} {% endfor %} {% endif %} {% endwith %}
            </div>

            <div class="navbar">
                <h1 class="logo">F-CHAT</h1>

                <div class="bars">
                    <i class="fas fa-bars" onclick="showMenu()"></i>
                </div>

                <ul id="nav-links">
                    <div class="close">
                        <i class="fas fa-times" onclick="hideMenu()"></i>
                    </div>

                    <li><a href="/">Home</a></li>

                    {% if user.is_authenticated%}
                          <li><a href="/chat">Chat</a></li>
                          <li><a href="/logout">Logout</a></li>
                          <li><a href="/create-room">Create room</a></li>
                    {% else %}
                        <li><a href="/login">Login</a></li>
                        <li><a href="/sign-up">Sign up</a></li>
                    {% endif %}

                    <li><a href="/about">About</a></li>

                </ul>
            </div>

            <div class="content">
                {% block content %} {% endblock %}
            </div>
        </div>
    </body>

    <script>
        var navbar = document.getElementById('nav-links');
        function showMenu() {
            navbar.style.right = '0';
        }
        function hideMenu() {
            navbar.style.right = '-200px';
        }
    </script>
</html>
